*{
    text-align: center;
    background-color: rgb(241, 226, 231);
}


th,tr,td {
    text-align: center;
    background-color: rgb(246, 137, 155);
    border: 3px solid rgb(25, 20, 21);
    margin: 10px;
    padding: 10px;
    
}
h1{
    color: blue;
}